.movie-cover {
  height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
}

.movie .card-title {
  font-weight: bold;
}

.movie .fa-star {
  color: $orange;
}
