.navbar {
  background: $primary !important;
}

.navbar a {
  color: white;
  transition: .3s;

  &:hover {
    text-decoration: underline !important;
    color: white;
  }
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
